<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="p-4">
    <!--Titular-->
    <div class="row pt-lg-3 pb-lg-2 ps-4 pe-4">
        <div class="col-lg-6 col-12 pb-4 pb-lg-0">
            <label class="form-label d-none" for="titular">Titular<span class="required-input">*</span></label>
            <input placeholder="Titular *" class="form-control" id="titular" type="text" formControlName="titular">
            @if(titular?.touched && titular?.errors?.['required']) {
            <p class="input-error">El titular es requerido</p>
            }

            @if(titular?.touched && titular?.errors?.['minlength']) {
            <p class="input-error">El titular debe tener al menos 15 caracteres</p>
            }

            @if(titular?.touched && titular?.errors?.['maxlength']) {
            <p class="input-error">El titular debe tener menos de 100 caracteres</p>
            }
        </div>

        <div class="col-lg-6 col-12 pb-4 pb-lg-0">
            <!--Fecha-->
            <label class="form-label d-none" for="fecha">Fecha<span class="required-input">*</span></label>
            <input placeholder="Fecha *" class="form-control" id="fecha" type="date" formControlName="fecha">

            @if(fecha?.touched && fecha?.errors?.['required']) {
            <p class="input-error">La fecha es requerida
            }
        </div>
    </div>

    <div class="row pt-lg-3 pb-lg-2 ps-4 pe-4">
        
        <div class="col-12 pb-4 pb-lg-0">
            <!--Imagen-->
            <label class="form-label d-none" for="imagen">Imagen<span class="required-input">*</span></label>
            <input placeholder="Imagen (Link / URL) *" class="form-control" id="imagen" type="text"
                formControlName="imagen">

            @if(imagen?.touched && imagen?.errors?.['required']) {
            <p class="input-error">El enlace de la imagen es requerido</p>
            }

        </div>
    </div>
    <div class="row pt-lg-3 pb-lg-2 ps-4 pe-4">
        <div class="col-12 pb-4">
            <!--Descripcion-->
            <label class="form-label d-none" for="descripcion">Descripción<span class="required-input">*</span></label>
            <textarea placeholder="Descripción *" class="form-control" id="descripcion" type="text"
                formControlName="descripcion"></textarea>

            @if(descripcion?.touched && descripcion?.errors?.['required']) {
            <p class="input-error">La descripción es requerida</p>
            }

            @if(descripcion?.touched && descripcion?.errors?.['minlength']) {
            <p class="input-error">La descripción debe tener al menos 20 caracteres</p>
            }

            @if(descripcion?.touched && descripcion?.errors?.['maxlength']) {
            <p class="input-error">La descripción debe tener menos de 1500 caracteres</p>
            }
        </div>

        <div class="col-12">
            <!--Descripcion Adicional-->
            <label class="form-label d-none" for="descripcion_adicional">Descripción<span
                    class="required-input">*</span></label>
            <textarea placeholder="Descripción Adicional" class="form-control" id="descripcion_adicional" type="text"
                formControlName="descripcion_adicional"></textarea>

            @if(descripcion_adicional?.touched && descripcion_adicional?.errors?.['maxlength']) {
            <p class="input-error">La descripción adicional debe tener menos de 1500 caracteres</p>
            }
        </div>
    </div>

    <button [disabled]="eventForm.invalid" type="submit" class="btn-send-form">CREAR</button>
</form>