<section class="eventos">
    <div
       class="h-[40vh] relative flex items-center justify-center align-center text-center mb-4 flex-col text-white break-all">
    <img src="/banners/login-banner.jpg"
         class="absolute inset-0 w-full h-full object-cover" /> <!-- Cambiar por imagen de la noticia mas adelante -->
    <div class="absolute inset-0 backdrop-brightness-50 backdrop-blur-[3px]"></div>
    <div class="relative z-10">
      <h2 class="text-3xl font-bold">Eventos</h2>
      <p class="text-xl py-5 px-5">¡Participa en nuestros eventos!</p>
    </div>
  </div>
    <app-events-list data-aos="fade-in" data-aos-duration="1000"></app-events-list>
</section>