<div class="px-4 sm:px-6 lg:px-8">
    <div class="text-center">
        <a class="inline-block py-3 px-6 mb-10 font-semibold bg-primary text-black py-6 md:py-4 rounded-lg bg-identity-green transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none cursor-pointer hover:bg-hover-green"
           routerLink="/admin/noticias/crear">
            <span class="me-2">+</span>Crear noticia
        </a>
    </div>

    @if (newsList && newsList.length > 0) {
    <div class="overflow-x-auto -mx-4 rounded-xl border-identity-blue border-2 mx-5">
        <table class="min-w-full bg-white">
            <thead>
                <tr class="bg-identity-blue">
                    <th class="p-3 sm:p-4 text-left font-semibold text-white whitespace-nowrap">N°</th>
                    <th class="p-3 sm:p-4 text-left font-semibold text-white whitespace-nowrap">Titular</th>
                    <th class="p-3 sm:p-4 text-left font-semibold text-white whitespace-nowrap">Subtitulo</th>
                    <th class="p-3 sm:p-4 text-left font-semibold text-white whitespace-nowrap">Descripcion</th>
                    <th class="p-3 sm:p-4 text-left font-semibold text-white whitespace-nowrap">Fecha</th>
                    <th class="p-3 sm:p-4 text-left font-semibold text-white whitespace-nowrap">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (news of newsList; track news.id) {
                <tr class="border-b border-gray-200 hover:bg-blue-100 transition-colors">
                    <td class="p-2 sm:p-3 font-bold text-gray-900 whitespace-nowrap">{{ news.id }}</td>
                    <td class="p-2 sm:p-3 text-gray-700">{{ news.titular }}</td>
                    <td class="p-2 sm:p-3 text-gray-700">{{ news.subtitulo.substr(0, 20) }}...</td>
                    <td class="p-2 sm:p-3 text-gray-700">{{ news.descripcion.substr(0, 20) }}...</td>
                    <td class="p-2 sm:p-3 text-gray-700 whitespace-nowrap">{{ news.fecha }}</td>
                    <td class="p-2 sm:p-3">
                        <div class="flex gap-2 items-center justify-start">
                            <a routerLink="/admin/noticias/{{news.id}}/detalle"
                               class="text-gray-600 hover:text-[#0066cc] transition-colors cursor-pointer">
                                <mat-icon class="!text-xl">visibility</mat-icon>
                            </a>
                            <a routerLink="/admin/noticias/{{news.id}}/editar"
                               class="text-gray-600 hover:text-[#0066cc] transition-colors cursor-pointer">
                                <mat-icon class="!text-xl">edit</mat-icon>
                            </a>
                            <a routerLink="/admin/noticias/{{news.id}}/borrar"
                               class="text-gray-600 hover:text-red-600 transition-colors cursor-pointer">
                                <mat-icon class="!text-xl">delete</mat-icon>
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <mat-paginator class="pt-10"
                   [length]="totalElements"
                   [pageSize]=6
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[6]"
                   (page)="onPageChange($event)"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    } @else {
    <p class="text-center mt-5">No se encontraron noticias</p>
    }
</div>