<section class="mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-5xl mx-auto">

    <!-- Título de la sección -->
    <h2
        class="underline decoration-orange-500 underline-offset-8 mb-5 text-identity-blue font-bold text-3xl text-center pt-5 pb-10">
      Decretos</h2>

    <!-- Lista de decretos -->
    @if (decretosList && decretosList.length > 0) {
    <div class="space-y-4">
      @for (decreto of decretosList; track decreto.id) {
      <div class="bg-gray-100 rounded-lg p-6 hover:shadow-xl transition-all duration-300 cursor-pointer hover:-translate-y-1"
           (click)="openPdf(decreto.pdf)">

        <!-- Encabezado con número y fecha -->
        <div class="mb-3">
          <h2 class="text-base sm:text-lg font-semibold text-gray-800">
            {{ decreto.titulo }}
          </h2>
        </div>

        <!-- Título/Descripción -->
        <p class="text-identity-blue transition-colors text-sm sm:text-base">
          {{ decreto.fecha | date:'MMMM/yyyy' | titlecase }}
        </p>
      </div>
      }
    </div>

    <!-- Paginador -->
    <mat-paginator class="lg:px-20 pb-10 pt-15"
                   [length]="totalElements"
                   [pageSize]=12
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[12]"
                   (page)="onPageChange($event)"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    } @else {
    <div class="text-center py-12">
      <p class="text-gray-500 text-lg">No se encontraron decretos</p>
    </div>
    }
  </div>
</section>