<section class="autoridades-municipales"
         data-aos="fade-in"
         data-aos-duration="1000">
    <h2 class="sr-only">Autoridades Municipales - Pueblo Belgrano</h2>
    <div
         class="h-[40vh] relative flex items-center justify-center align-center text-center mb-4 flex-col text-white break-all">
        <img src="/banners/login-banner.jpg"
             class="absolute inset-0 w-full h-full object-cover" />
        <!-- Cambiar por imagen de la noticia mas adelante -->
        <div class="absolute inset-0 backdrop-brightness-50 backdrop-blur-[3px]"></div>
        <div class="relative z-10">
            <h3 class="text-3xl font-bold">Autoridades Municipales</h3>
            <p
               class="text-xl py-5">
                ¡Conocé a nuestro equipo!
            </p>
        </div>
    </div>
    <div class="p-8 flex flex-wrap justify-center gap-4 py-10 px-10 text-lg">
        <!-- PRESIDENTE MUNICIPAL -->
        <div class="border-4 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">PRESIDENTE MUNICIPAL</h3>
            <p class="font-medium">Fiorotto Francisco</p>
        </div>

        <!-- VICEPRESIDENTA MUNICIPAL -->
        <div class="border-4 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">VICEPRESIDENTA MUNICIPAL</h3>
            <p class="font-medium">Gerling Carolina Anahí</p>
        </div>

        <!-- SECRETARIO DE GOBIERNO -->
        <div class="border-4 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">SECRETARIO DE GOBIERNO</h3>
            <p class="font-medium">Fiorotto Pablo</p>
        </div>

        <!-- SECRETARIO DE COORDINACIÓN DE GOBIERNO -->
        <div class="border-4 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">SECRETARIO DE COORDINACIÓN DE GOBIERNO</h3>
            <p class="font-medium">Sobredo Andrés Eduardo</p>
        </div>

        <!-- CONTADOR MUNICIPAL -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">CONTADOR MUNICIPAL</h3>
            <p class="font-medium">Bernigaud Atilio</p>
        </div>

        <!-- TESORERÍA MUNICIPAL -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">TESORERÍA MUNICIPAL</h3>
            <p class="font-medium">Díaz Sergio</p>
        </div>

        <!-- DIRECCIÓN DE OBRAS Y SERVICIOS PÚBLICOS -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECCIÓN DE OBRAS Y SERVICIOS PÚBLICOS</h3>
            <p class="font-medium">Cruz Miguel</p>
        </div>

        <!-- DIRECCIÓN DE DESARROLLO SOCIAL Y TERCERA EDAD -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DESARROLLO SOCIAL Y TERCERA EDAD</h3>
            <p class="font-medium">Sobredo Andrés Eduardo (COORDINADOR)</p>
        </div>

        <!-- DIRECCIÓN DE CULTURA -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECCIÓN DE CULTURA</h3>
            <p class="font-medium">Farabello Germán</p>
        </div>

        <!-- DIRECCIÓN DE TURISMO -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECCIÓN DE TURISMO</h3>
            <p class="font-medium">Villagra María Luz (COORDINADORA)</p>
        </div>

        <!-- DIRECCIÓN DE DEPORTES -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECCIÓN DE DEPORTES</h3>
            <p class="font-medium">Martín Gustavo</p>
        </div>

        <!-- DIRECCIÓN DE AMBIENTE -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECCIÓN DE AMBIENTE</h3>
            <p class="font-medium">Fritz Javier</p>
        </div>

        <!-- DIRECCIÓN DE RENTAS Y HABILITACIONES -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECCIÓN DE RENTAS Y HABILITACIONES</h3>
            <p class="font-medium">Carlés Manuel</p>
        </div>

        <!-- DIRECCIÓN DE PLANEAMIENTO Y CATASTRO -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECCIÓN DE PLANEAMIENTO Y CATASTRO</h3>
            <p class="font-medium">Gómez Sergio</p>
        </div>

        <!-- DIRECCIÓN DE TRÁNSITO, CONTROL URBANO E INFORMÁTICA -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">TRÁNSITO, CONTROL URBANO E INFORMÁTICA</h3>
            <p class="font-medium">Sobredo Andrés Eduardo (COORDINADOR)</p>
        </div>

        <!-- ÁREA DE LEGALES -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">ÁREA DE LEGALES</h3>
            <p class="font-medium">Piccini Carlos</p>
        </div>

        <!-- JUZGADO DE FALTAS -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">JUZGADO DE FALTAS</h3>
            <p class="font-medium">Sartori Lorena</p>
        </div>

        <!-- ÁREA DE NIÑEZ, ADOLESCENCIA Y FAMILIA -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">ÁREA DE NIÑEZ, ADOLESCENCIA Y FAMILIA (ANAF)</h3>
            <p class="font-medium">Raffart Melisa</p>
        </div>

        <!-- ÁREA DE ACCESIBILIDAD E INCLUSIÓN UNIVERSAL -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">ÁREA DE ACCESIBILIDAD E INCLUSIÓN UNIVERSAL</h3>
            <p class="font-medium">Ferrari Federico</p>
        </div>

        <!-- OFICINA DE EMPLEO -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">OFICINA DE EMPLEO</h3>
            <p class="font-medium">Miotti Marcos</p>
        </div>

        <!-- OFICINA DE GÉNERO -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">OFICINA DE GÉNERO</h3>
            <p class="font-medium">Solari Valeria</p>
        </div>

        <!-- JARDÍN BELGRANITO -->
        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">JARDÍN BELGRANITO</h3>
            <p class="font-medium">Benedetti Cynthia (DIRECTORA)</p>
        </div>

        <div class="border-2 border-identity-blue p-4 text-center w-full md:w-[45%] lg:w-[22%]">
            <h3 class="text-identity-blue font-semibold mb-2">DIRECTOR CENTRO DE SALUD</h3>
            <p class="font-medium">Kneeteman Walter</p>
        </div>
    </div>
</section>