<form [formGroup]="complaintsForm"
      (ngSubmit)="onSubmit()"
      class="px-10 lg:px-20 py-10">
       <!--Motivo-->
       <div class="flex flex-col md:flex-row gap-6 mx-auto ">
              <div class="w-full md:w-1/2">
                     <label class="sr-only"
                            for="motivo">Motivo<span class="required-input">*</span></label>
                     <input placeholder="Motivo *"
                            class="form-control w-full p-4 rounded-xl"
                            name="motivo"
                            id="motivo"
                            type="text"
                            required
                            formControlName="motivo">
                     @if(motivo?.touched && motivo?.errors?.['required']) {
                     <p class="input-error">El motivo es requerido</p>
                     }

                     @if(motivo?.touched && motivo?.errors?.['minlength']) {
                     <p class="input-error">El motivo debe tener al menos 5 caracteres</p>
                     }

                     @if(motivo?.touched && motivo?.errors?.['maxlength']) {
                     <p class="input-error">El motivo debe tener menos de 100 caracteres</p>
                     }

                     @if(motivo?.touched && motivo?.errors?.['pattern']) {
                     <p class="input-error">El motivo no puede contener números ni caracteres especiales</p>
                     }
              </div>

              <div class="w-full md:w-1/2 ">
                     <!--Nombre y Apellido-->
                     <label class="sr-only"
                            for="nombre_apellido">Nombre y Apellido<span class="required-input">*</span></label>
                     <input placeholder="Nombre y Apellido *"
                            class="form-control w-full p-4 rounded-xl"
                            name="nombre_apellido"
                            id="nombre_apellido"
                            type="text"
                            required
                            formControlName="nombre_apellido">

                     @if(nombre_apellido?.touched && nombre_apellido?.errors?.['required']) {
                     <p class="input-error">El nombre y apellido es requerido</p>
                     }

                     @if(nombre_apellido?.touched && nombre_apellido?.errors?.['minlength']) {
                     <p class="input-error">El nombre y apellido debe tener al menos 5 caracteres</p>
                     }

                     @if(nombre_apellido?.touched && nombre_apellido?.errors?.['maxlength']) {
                     <p class="input-error">El nombre y apellido debe tener menos de 100 caracteres</p>
                     }

                     @if(nombre_apellido?.touched && nombre_apellido?.errors?.['pattern']) {
                     <p class="input-error">El nombre y apellido no puede contener números ni caracteres especiales</p>
                     }
              </div>
       </div>

       <div class="flex md:flex-row flex-col gap-6 mt-6 md:mt-4 mx-auto">
              <div class="w-full w-1/2">
                     <!--Direccion-->
                     <label class="sr-only"
                            for="direccion">Dirección<span class="required-input">*</span></label>
                     <input placeholder="Dirección (domicilio/reclamo) *"
                            class="form-control w-full p-4 rounded-xl"
                            name="direccion"
                            id="direccion"
                            type="text"
                            required
                            formControlName="direccion">

                     @if(direccion?.touched && direccion?.errors?.['required']) {
                     <p class="input-error">La dirección es requerida</p>
                     }

                     @if(direccion?.touched && direccion?.errors?.['minlength']) {
                     <p class="input-error">La dirección debe tener al menos 5 caracteres</p>
                     }

                     @if(direccion?.touched && direccion?.errors?.['maxlength']) {
                     <p class="input-error">La dirección debe tener menos de 150 caracteres</p>
                     }

                     @if(direccion?.touched && direccion?.errors?.['pattern']) {
                     <p class="input-error">La dirección no puede tener caracteres especiales</p>
                     }

              </div>
              <div class="w-full w-1/2">
                     <!--Celular-->
                     <label class="sr-only"
                            for="celular">Celular<span class="required-input">*</span></label>
                     <input placeholder="Celular *"
                            class="form-control w-full p-4 rounded-xl"
                            name="celular"
                            id="celular"
                            type="text"
                            required
                            formControlName="celular">

                     @if(celular?.touched && celular?.errors?.['required']) {
                     <p class="input-error">El celular es requerido</p>
                     }

                     @if(celular?.touched && celular?.errors?.['minlength']) {
                     <p class="input-error">El celular debe tener al menos 6 caracteres</p>
                     }

                     @if(celular?.touched && celular?.errors?.['maxlength']) {
                     <p class="input-error">El celular debe tener menos de 20 caracteres</p>
                     }

                     @if(celular?.touched && celular?.errors?.['pattern']) {
                     <p class="input-error">El celular debe tener solo numeros</p>
                     }
              </div>
       </div>

       <div class="w-full md:mt-4 mt-6 mx-auto">
              <!--Email-->
              <label class="sr-only"
                     for="email">Email<span class="required-input">*</span></label>
              <input placeholder="Email *"
                     class="form-control w-full p-4 rounded-xl"
                     name="email"
                     id="email"
                     type="text"
                     required
                     formControlName="email">

              @if(email?.touched && email?.errors?.['required']) {
              <p class="input-error">El email es requerido</p>
              }

              @if(email?.touched && email?.errors?.['email']) {
              <p class="input-error">El email debe ser valido</p>
              }

              @if(email?.touched && email?.errors?.['pattern']) {
              <p class="input-error">El email contiene caracteres no válidos</p>
              }
       </div>

       <!--Descripcion-->
       <div class="w-full md:mt-4 mt-6 mx-auto">
              <label class="sr-only"
                     for="descripcion">Descripción<span class="required-input">*</span></label>
              <textarea placeholder="Descripción *"
                        class="form-control w-full p-4 rounded-xl"
                        name="descripcion"
                        id="descripcion"
                        type="text"
                        required
                        formControlName="descripcion"></textarea>
              @if(descripcion?.touched && descripcion?.errors?.['required']) {
              <p class="input-error">La descripción es requerida</p>
              }
              @if(descripcion?.touched && descripcion?.errors?.['minlength']) {
              <p class="input-error">La descripción debe tener al menos 20 caracteres</p>
              }

              @if(descripcion?.touched && descripcion?.errors?.['maxlength']) {
              <p class="input-error">La descripción debe tener menos de 1000 caracteres</p>
              }

              @if(descripcion?.touched && descripcion?.errors?.['pattern']) {
              <p class="input-error">La descripción no puede contener <>
              </p>
              }

              <div id="captchaDiv"
                   class="w-full"></div>
       </div>

       <div class="w-[50%] md:w-[25%] mx-auto pt-4">
              <button [disabled]="complaintsForm.invalid"
                      type="submit"
                      class="disabled:bg-[rgba(15,139,34,0.5)] disabled:cursor-not-allowed disabled:text-gray-500 mt-5 tracking-wide font-semibold bg-primary text-black w-full py-6 md:py-4 rounded-lg bg-identity-green transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none cursor-pointer hover:bg-hover-green">Enviar</button>
       </div>
</form>