input[type=checkbox]
{
  -ms-transform: scale(1.75);
  -moz-transform: scale(1.75);
  -webkit-transform: scale(1.75);
  -o-transform: scale(1.75);
  transform: scale(1.75);
  border-color: black !important;
  padding: 10px;
  accent-color: rgb(27, 166, 27);
}