@if (complaint) {
<div>
    <div class="row p-3 text-break align-items-center justify-content-center">
        <h2>Reclamo #{{ complaint.id }}</h2>
        <div class="col-lg-4 col-md-6 col-12 p-4">
            <p><span class="fw-bold">Motivo:</span> {{ complaint.motivo }}</p>
            <p><span class="fw-bold">Fecha:</span> {{ complaint.fecha_reclamo }}</p>
            <p><span class="fw-bold">Celular:</span> {{ complaint.celular }}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-12 p-4">
            <p><span class="fw-bold">Dirección:</span> {{ complaint.direccion }}</p>
            <p><span class="fw-bold">Imagen:</span> {{ complaint.imagen ? complaint.imagen : 'Sin imagen' }}</p>
            <p><span class="fw-bold">Nombre y Apellido:</span> {{ complaint.nombre_apellido }}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-12 p-4">
            <p><span class="fw-bold">Email:</span> {{ complaint.email }}</p>
            <p><span class="fw-bold">Descripción:</span> {{ complaint.descripcion }}</p>
        </div>
    </div>

    <div class="status-complaint text-center">
        <h3 class="text-center fw-bold pb-3">Estado del reclamo</h3>
        <form [formGroup]="updateComplaintForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center align-items-center">
                <div class="col-3 p-2">
                    <label class="form-label">
                        Comentario:
                        <textarea class="form-control" formControlName="comentario"></textarea>
                    </label>
                </div>
                <div class="col-3 p-2">
                    <div formGroupName="area">
                        <label class="form-label">
                            Área:
                            <select class="form-control" formControlName="id">
                                <option value="">Sin área asignada</option>
                                @for(area of areasList; track area.id){
                                <option value="{{ area.id }}">{{ area.nombre }}</option>
                                }
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-12 p-2">
                    <label class="form-label">
                        Cerrado:
                        <input class="ms-2" type="checkbox" formControlName="cerrado" />
                    </label>
                </div>
            </div>
            <button class="btn-actualizar-form" type="submit" [disabled]="updateComplaintForm.invalid">Actualizar</button>
        </form>
    </div>
</div>
}