<div class="select-area d-flex">
    <div class="mt-4 mb-4">
        <label for="area">Área:</label>
        <select id="area" class="ms-3" (change)="onAreaChange($any($event.target).value)" [(ngModel)]="selectedAreaId">
            <option value="0">Todas las Áreas</option>
            @for(area of areasList; track area.id){
            <option value="{{ area.id }}">
                {{ area.nombre }}
            </option>
            }
        </select>

        <label class="ms-4" for="status">Estado:</label>
        <select id="status" class="ms-3" (change)="onStatusChange($any($event.target).value)"
            [(ngModel)]="selectedStatus">
            <option value="">Todos los reclamos</option>
            <option value="abiertos">Abiertos</option>
            <option value="cerrados">Cerrados</option>
        </select>
    </div>
</div>

@if (complaintsList && complaintsList.length > 0) {
<div class="overflow-auto">

    <table class="table table-striped table-hover table-bordered text-center">
        <tr>
            <th class="p-4">N°</th>
            <th class="p-4">Motivo</th>
            <th class="p-4">Direccion</th>
            <th class="p-4">Descripcion</th>
            <th class="p-4">Fecha</th>
            <th class="p-4">Area</th>
            <th class="p-4">Estado</th>
            <th>Acciones</th>
        </tr>
        @for (complaint of complaintsList; track complaint.id) {
        <tr class="text-break">
            <td class="fw-bold p-3 text-center">{{ complaint.id }}</td>
            <td class="p-2">{{ complaint.motivo.substr(0,20...) }}...</td>
            <td class="p-2">{{ complaint.direccion }}</td>
            <td class="p-2">{{ complaint.descripcion.substr(0,20...) }}...</td>
            <td class="p-2">{{ complaint.fecha_reclamo }}</td>
            <td class="p-2">{{ complaint.area?.nombre || 'Sin área' }}</td>
            <td class="p-2">{{ complaint.cerrado ? 'Cerrado' : 'Abierto' }}</td>

            <td class="actions-td p-2 text-center">
                <div class="d-flex justify-content-center gap-2">
                    <a href="/admin/reclamos/{{complaint.id}}/detalle"><mat-icon>visibility</mat-icon></a>
                    <a href="/admin/reclamos/{{complaint.id}}/editar"><mat-icon>edit</mat-icon></a>
                    <a href="/admin/reclamos/{{complaint.id}}/borrar"><mat-icon>delete</mat-icon></a>
                </div>
            </td>

        </tr>
        }
    </table>

    <mat-paginator class="mb-3" [length]="totalElements" [pageSize]=6 [pageIndex]="pageIndex" [pageSizeOptions]="[6]"
        (page)="onPageChange($event)" [showFirstLastButtons]="true">
    </mat-paginator>
</div>
} @else {
<p class="text-center mt-5">No se encontraron reclamos</p>
}