<div class="text-center">
    <a class="mb-5 mt-0 btn-crear-crud d-inline-block" routerLink="/admin/transparencias/crear"><span class="me-2">+</span>Crear transparencia</a>
</div>
@if (transparenciesList && transparenciesList.length > 0) {
<div class="overflow-auto">

    <table class="table table-striped table-hover table-bordered text-center">
        <tr>
            <th class="p-4">N°</th>
            <th class="p-4">Fecha</th>
            <th class="p-4">PDF</th>
            <th>Acciones</th>
        </tr>
        @for (transparency of transparenciesList; track transparency.id) {
        <tr class="text-break">
            <td class="fw-bold p-3 text-center">{{ transparency.id }}</td>
            <td class="p-2">{{transparency.fecha | date:'MMMM, yyyy' | titlecase}}</td>
            <td class="p-2">{{ transparency.pdf.substr(0, 20) }}...</td>

            <td class="actions-td p-2 text-center">
                <div class="d-flex justify-content-center gap-2">
                    <a routerLink="/admin/transparencias/{{transparency.id}}/detalle"><mat-icon>visibility</mat-icon></a>
                    <a routerLink="/admin/transparencias/{{transparency.id}}/editar"><mat-icon>edit</mat-icon></a>
                    <a routerLink="/admin/transparencias/{{transparency.id}}/borrar"><mat-icon>delete</mat-icon></a>
                </div>
            </td>

        </tr>
        }
    </table>

    <mat-paginator class="mb-3" [length]="totalElements" [pageSize]=12 [pageIndex]="pageIndex" [pageSizeOptions]="[12]"
        (page)="onPageChange($event)" [showFirstLastButtons]="true">
    </mat-paginator>
</div>
} @else {
<p class="text-center mt-5">No se encontraron transparencias</p>
}