.navbar-brand {
    background-image: url('/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 120px;
}

.content {
    font-size: 1.2em;
    font-weight: 500;
    padding: 1em;
    border-bottom: 2px solid rgb(151, 218, 52);
}

.content a {
    color: rgb(120, 175, 36) !important;
    transition: 0.25s ease-in-out all;
}

.content a:hover {
    color: rgb(134, 216, 10) !important;
}

.active-link {
    text-decoration: underline !important;
    font-weight: bold;
}

.btn-header {
    border: none;
    background-color: transparent;
    color: rgb(120, 175, 36) !important;
    transition: 0.25s ease-in-out all;
    font-weight: bold;
    font-size: 1.2em;
}

.btn-header:hover {
    color: rgb(134, 216, 10) !important;
}

