<header id="header"
        class="bg-white shadow text-identity-blue font-medium">
    <nav class="py-3">
        <div class="px-25 mx-auto flex flex-col lg:flex-row items-center justify-between">

            <!-- Logo -->
            <a id="logo-header"
               routerLink="/"
               class="mb-2 lg:mb-0 text-center block  h-[120px] w-[200px] bg-no-repeat bg-center bg-contain bg-[url('/logo.svg')] my-5 mb-10 lg:mb-0">
                <h1 class="sr-only">Municipalidad de Pueblo General Belgrano</h1>
            </a>

            <!-- Botón hamburguesa -->
            <button type="button"
                    class="p-2 rounded-lg text-primary lg:hidden"
                    (click)="menuOpen = !menuOpen"
                    aria-label="Abrir menú de navegación"
                    [attr.aria-expanded]="menuOpen">
                <svg class="w-6 h-6"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor"
                     stroke-width="2">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>

            <!-- Menú -->
            <div [ngClass]="menuOpen ? 'block' : 'hidden'"
                 class="w-full lg:flex lg:items-center lg:w-auto">
                <ul class="flex flex-col lg:flex-row gap-4 items-center justify-center text-center mt-2 lg:mt-0">

                    <!-- Enlaces principales -->
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out"><a routerLink="/"
                           routerLinkActive="text-secondary"
                           class="text-primary hover:text-secondary">Inicio</a></li>
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out"><a routerLink="/gobierno"
                           routerLinkActive="text-secondary"
                           class="text-primary hover:text-secondary">Gobierno</a></li>
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out"><a routerLink="/noticias"
                           routerLinkActive="text-secondary"
                           class="text-primary hover:text-secondary">Noticias</a></li>
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out"><a routerLink="/reclamos"
                           routerLinkActive="text-secondary"
                           class="text-primary hover:text-secondary">Reclamos</a></li>
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out"><a routerLink="/eventos"
                           routerLinkActive="text-secondary"
                           class="text-primary hover:text-secondary">Eventos</a></li>
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out"><a
                           routerLink="/transparencias"
                           routerLinkActive="text-secondary"
                           class="text-primary hover:text-secondary">Transparencias</a></li>

                    <!-- Dashboard (condicional) -->
                    @if (_authService.isAuthenticated() && _authService.isAuthorized(['ROLE_ADMIN', 'ROLE_COMUNICACION',
                    'ROLE_SECRETARIA', 'ROLE_RESPONSABLE_RECLAMOS', 'ROLE_INTENDENTE'])){
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out">
                        <a routerLink="/admin/dashboard"
                           class="btn-header flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor"
                                 class="size-6">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                            </svg>

                            <span class="sr-only">Panel de administración</span>
                        </a>
                    </li>
                    }

                    <!-- Cerrar sesión (condicional) -->
                    @if (_authService.isAuthenticated()){
                    <li class="hover:text-blue-500 transition-all duration-300 ease-in-out">
                        <button (click)="logout()"
                                class="btn-header flex items-center">

                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor"
                                 class="size-6">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                            </svg>


                            <span class="sr-only">Cerrar sesión</span>
                        </button>
                    </li>
                    }
                </ul>
            </div>

        </div>
    </nav>
</header>