<section class="no-encontrado text-center h-[80vh] flex flex-col justify-center items-center">
    <img src="/logo.svg"
         alt="Página no encontrada"
         class="w-75 mb-5" />
  <h2 class="text-identity-blue font-bold text-3xl text-center mb-3">Sección no encontrada</h2>
  <p class="text-xl">Lo sentimos, la página que buscas no existe.</p>
    <a routerLink="/"
         class="mt-5 px-6 py-3 bg-identity-green text-black font-semibold rounded-lg hover:bg-identity-blue-dark transition-colors duration-300 hover:bg-green-600">
        Volver al inicio
    </a>
</section>