<section class="reclamos container">
    <h2>Hace tu reclamo</h2>

    @if (errors && errors.length > 0) {
        <div class="errores">
            <ul>
            @for (error of errors; track error.defaultMessage){
                <li>{{ error.defaultMessage }}</li>
            }
            </ul>
        </div>
    }

    <form [formGroup]="complaintsForm" (ngSubmit)="onSubmit()">
        <!--Motivo-->
        <label for="motivo">Motivo:</label>
        <input id="motivo" type="text" formControlName="motivo">
        @if(motivo?.touched && motivo?.errors?.['required']) {
        <p class="input-error">El motivo es requerido</p>
        }

        @if(motivo?.touched && motivo?.errors?.['minlength']) {
        <p class="input-error">El motivo debe tener al menos 5 caracteres</p>
        }

        @if(motivo?.touched && motivo?.errors?.['maxlength']) {
        <p class="input-error">El motivo debe tener menos de 100 caracteres</p>
        }

        <!--Descripcion-->
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" type="text" formControlName="descripcion"></textarea>
        @if(descripcion?.touched && descripcion?.errors?.['required']) {
        <p class="input-error">La descripción es requerida</p>
        }

        @if(descripcion?.touched && descripcion?.errors?.['minlength']) {
        <p class="input-error">La descripción debe tener al menos 20 caracteres</p>
        }

        @if(descripcion?.touched && descripcion?.errors?.['maxlength']) {
        <p class="input-error">La descripción debe tener menos de 1000 caracteres</p>
        }

        <!--Nombre y Apellido-->
        <label for="nombre_apellido">Nombre y Apellido:</label>
        <input id="nombre_apellido" type="text" formControlName="nombre_apellido">

        @if(nombre_apellido?.touched && nombre_apellido?.errors?.['required']) {
        <p class="input-error">El nombre y apellido es requerido</p>
        }

        @if(nombre_apellido?.touched && nombre_apellido?.errors?.['minlength']) {
        <p class="input-error">El nombre y apellido debe tener al menos 5 caracteres</p>
        }

        @if(nombre_apellido?.touched && nombre_apellido?.errors?.['maxlength']) {
        <p class="input-error">El nombre y apellido debe tener menos de 100 caracteres</p>
        }

        <!--Email-->
        <label for="email">Email:</label>
        <input id="email" type="text" formControlName="email">

        @if(email?.touched && email?.errors?.['required']) {
        <p class="input-error">El email es requerido</p>
        }

        @if(email?.touched && email?.errors?.['email']) {
        <p class="input-error">El email debe ser valido</p>
        }

        <!--Celular-->
        <label for="celular">Celular:</label>
        <input id="celular" type="text" formControlName="celular">

        @if(celular?.touched && celular?.errors?.['required']) {
        <p class="input-error">El celular es requerido</p>
        }

        @if(celular?.touched && celular?.errors?.['minlength']) {
        <p class="input-error">El celular debe tener al menos 6 caracteres</p>
        }

        @if(celular?.touched && celular?.errors?.['maxlength']) {
        <p class="input-error">El celular debe tener menos de 20 caracteres</p>
        }

        @if(celular?.touched && celular?.errors?.['pattern']) {
        <p class="input-error">El celular debe tener solo numeros</p>
        }

        <!--Direccion-->
        <label for="direccion">Dirección:</label>
        <input id="direccion" type="text" formControlName="direccion">

        @if(direccion?.touched && direccion?.errors?.['required']) {
        <p class="input-error">La dirección es requerida</p>
        }

        @if(direccion?.touched && direccion?.errors?.['minlength']) {
        <p class="input-error">La dirección debe tener al menos 5 caracteres</p>
        }

        @if(direccion?.touched && direccion?.errors?.['maxlength']) {
        <p class="input-error">La dirección debe tener menos de 150 caracteres</p>
        }

        <!--Imagen-->
        <label for="imagen">Imagen (opcional):</label>
        <input id="imagen" type="text" formControlName="imagen">

        <button [disabled]="complaintsForm.invalid" type="submit">Enviar</button>
    </form>
</section>