<div class="px-4 sm:px-6 lg:px-8">
    <div class="text-center">
        <a class="inline-block py-3 px-6 mb-10 font-semibold bg-primary text-black py-6 md:py-4 rounded-lg bg-identity-green transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none cursor-pointer hover:bg-hover-green"
           routerLink="/admin/categorias/crear">
            <span class="me-2">+</span>Crear categoría
        </a>
    </div>

    @if (categoriesList && categoriesList.length > 0) {
    <div class="overflow-x-auto rounded-xl border-identity-blue border-2 max-w-4xl mx-auto">
        <table class="min-w-full bg-white">
            <thead>
                <tr class="bg-identity-blue">
                    <th class="p-3 sm:p-4 text-center font-semibold text-white whitespace-nowrap">N°</th>
                    <th class="p-3 sm:p-4 text-center font-semibold text-white whitespace-nowrap">Nombre</th>
                    <th class="p-3 sm:p-4 text-center font-semibold text-white whitespace-nowrap">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (category of categoriesList; track category.id) {
                <tr class="border-b border-gray-200 hover:bg-blue-100 transition-colors">
                    <td class="p-2 sm:p-3 font-bold text-gray-900 whitespace-nowrap text-center">{{ category.id }}</td>
                    <td class="p-2 sm:p-3 text-gray-700 text-center">{{ category.nombre }}</td>
                    <td class="p-2 sm:p-3">
                        <div class="flex gap-2 items-center justify-center">
                            <a routerLink="/admin/categorias/{{category.id}}/detalle"
                               class="text-gray-600 hover:text-[#0066cc] transition-colors cursor-pointer">
                                <mat-icon class="!text-xl">visibility</mat-icon>
                            </a>
                            <a routerLink="/admin/categorias/{{category.id}}/editar"
                               class="text-gray-600 hover:text-[#0066cc] transition-colors cursor-pointer">
                                <mat-icon class="!text-xl">edit</mat-icon>
                            </a>
                            <a routerLink="/admin/categorias/{{category.id}}/borrar"
                               class="text-gray-600 hover:text-red-600 transition-colors cursor-pointer">
                                <mat-icon class="!text-xl">delete</mat-icon>
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <mat-paginator class="pt-10"
                   [length]="totalElements"
                   [pageSize]=6
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[6]"
                   (page)="onPageChange($event)"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    } @else {
    <p class="text-center mt-5 text-xl pt-30">No se encontraron categorías</p>
    }
</div>