<!-- Loader mientras se conecta -->
@if(loading) {
<section class="loader-container">
  <app-loader></app-loader>
</section>
} @else {
<!-- Aquí va todo tu código actual -->
@if(apiIsUp) {
@if(router.url.includes('admin')) {
<app-header-admin></app-header-admin>
} @else {
<app-header></app-header>
}
<main>
  <router-outlet></router-outlet>
</main>
@if(!router.url.includes('admin')) {
<app-footer></app-footer>
}
} @else {
<app-header></app-header>
<section class="mantenimiento text-center h-[80vh] flex flex-col justify-center items-center">
  <h2 class="text-identity-blue font-bold text-3xl text-center mb-3">Estamos en mantenimiento</h2>
  <p class="text-xl">Disculpe las molestias. Vuelva a entrar más tarde.</p>
</section>
<app-footer></app-footer>
}
}