@if(this._authService.isAuthenticated() && this._authService.isAuthorized(['ROLE_ADMIN', 'ROLE_COMUNICACION', 'ROLE_SECRETARIA', 'ROLE_RESPONSABLE_RECLAMOS', 'ROLE_INTENDENTE'])) {
<header id="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container content">
            <!-- logo -->
            <a id="logo" class="navbar-brand" routerLink="/admin/dashboard"><span class="d-none">Logo</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <!-- derecha -->
                <ul class="navbar-nav ms-auto d-flex align-items-baseline align-items-lg-center text-center mt-2 mt-lg-0"
                    id="izq-nav">
                    <li class="nav-item">
                        <a routerLink="/admin/dashboard" class="nav-link" routerLinkActive="active-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/admin/reclamos" class="nav-link" routerLinkActive="active-link">Reclamos</a>
                    </li>
                    <!--Cerrar sesion-->
                    <li class="ms-3">
                        <button class="btn-header" type="button" (click)="logout()"><i class="bi bi-box-arrow-right"><span class="d-none">Cerrar sesion</span></i></button>
                    </li>
                    <li class="ms-3">
                        <a routerLink="/" class="btn-header"><i class="bi bi-house-fill"><span class="d-none">Inicio</span></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
}