@if(this._authService.isAuthenticated() && this._authService.isAuthorized(['ROLE_ADMIN', 'ROLE_COMUNICACION',
'ROLE_SECRETARIA', 'ROLE_RESPONSABLE_RECLAMOS', 'ROLE_INTENDENTE'])) {
<header id="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container content 
                d-flex flex-column flex-lg-row 
                align-items-center justify-content-center justify-content-lg-between">

            <!-- logo -->
            <a id="logo" class="navbar-brand mb-2 mb-lg-0 text-center" routerLink="/">
                <span class="d-none">Logo</span>
            </a>

            <!-- botón hamburguesa -->
            <button class="navbar-toggler mb-3 mt-4 mb-lg-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="d-flex">Menú<i class="ms-2 bi bi-arrow-down"></i></span>
            </button>

            <div class="collapse navbar-collapse mb-2 mb-lg-0 justify-content-lg-end justify-content-center"
                id="navbarNav">

                <!-- derecha -->
                <ul class="navbar-nav 
                            d-flex flex-column flex-lg-row 
                            align-items-center justify-content-center
                            text-center  mt-2 mt-lg-0" id="izq-nav">
                    <li class="nav-item">
                        <a routerLink="/admin/dashboard" class="nav-link" routerLinkActive="active-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/admin/reclamos" class="nav-link" routerLinkActive="active-link">Reclamos</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/admin/areas" class="nav-link" routerLinkActive="active-link">Áreas</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/admin/noticias" class="nav-link" routerLinkActive="active-link">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/admin/categorias" class="nav-link" routerLinkActive="active-link">Categorías</a>
                    </li>
                    <!--Cerrar sesion-->
                    <li class="nav-item mb-2 mt-2 mb-lg-0 mt-lg-0 ms-lg-3">
                        <a routerLink="/" class="btn-header"><i class="bi bi-house-fill"><span
                                    class="d-none">Inicio</span></i></a>
                    </li>
                    <li class="nav-item mb-2 mt-2 mb-lg-0 mt-lg-0 ms-lg-3">
                        <button class="btn-header" type="button" (click)="logout()"><i
                                class="bi bi-box-arrow-right"><span class="d-none">Cerrar sesion</span></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
}