@if(this._authService.isAuthenticated() && this._authService.isAuthorized(['ROLE_ADMIN', 'ROLE_COMUNICACION', 'ROLE_SECRETARIA', 'ROLE_RESPONSABLE_RECLAMOS', 'ROLE_INTENDENTE'])) {
<header id="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- logo -->
            <a id="logo" class="navbar-brand" href="/"><span class="d-none">Logo</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <!-- derecha -->
                <ul class="navbar-nav ms-auto d-flex align-items-baseline align-items-lg-center text-center mt-2 mt-lg-0"
                    id="izq-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="admin/reclamos" class="nav-link">Reclamos</a>
                    </li>
                    <!--Cerrar sesion-->
                    @if (this._authService.isLogged()) {
                    <li>
                        <button type="button" class="btn btn-danger" (click)="logout()">Cerrar sesion</button>
                    </li>
                    }
                    <li>
                        <a href="/" class="btn btn-danger">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
}