
.card-noticias a {
    text-decoration: none !important;
    color: white !important;
}

.info-noticia {
    transition: all 0.25s ease-in-out;
    background-color: rgb(123, 191, 21);
}

.card-noticias:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.05);
    color: rgb(27, 166, 27);
}

.info-noticia {
    padding: 1em 1em 0.5em 1em;
}

h3 {
    font-size: 1.4em;
}