@if (loading === true) {
<div>
  <app-loader></app-loader>
</div>
} @else {
<div>
  <div
       class="h-[40vh] relative flex items-center justify-center align-center text-center mb-4 flex-col text-white break-all">
    <img src="/banners/banner-3.jpg"
         class="absolute inset-0 w-full h-full object-cover" /> <!-- Cambiar por imagen de la noticia mas adelante -->
    <div class="absolute inset-0 backdrop-brightness-50 backdrop-blur-[5px]"></div>
    <div class="relative z-10">
      <h3 class="text-3xl font-bold">Noticias</h3>
      <p class="text-xl py-5 px-5">¡Enterate de lo último que pasa en el pueblo!</p>
    </div>
  </div>
  @if (newsList && newsList.length > 0) {

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mb-4 break-all px-10 lg:px-20 py-10">
    @for (news of newsList; track news.id) {
    <app-news-card [news]="news"></app-news-card>
    }
  </div>
  <mat-paginator 
  class="lg:px-20 pb-10"
  [length]="totalElements"
                 [pageSize]=6
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[6]"
                 (page)="onPageChange($event)"
                 [showFirstLastButtons]="true">
  </mat-paginator>
  } @else {
  <div>
    <p class="text-center text-xl pt-25 pb-30">No hay noticias disponibles</p>
  </div>
  }
</div>
}