@import "tailwindcss";

@theme {
  --color-identity-blue: #6568ab;
  --color-identity-green: #b9ce39;
  --color-identity-orange: #f07e23;
  --color-identity-light-blue: #59c0cb;
  --color-paragraphs: #4b4b4b;
  --color-hover-green: #1ba61b;
}

* {
  box-sizing: border-box;
}

.mat-mdc-paginator-outer-container {
  font-size: 1.3em !important;
  border: 2px solid !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
  width: 50% !important;
  margin: auto !important;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

.mat-mdc-paginator-page-size-label, .mat-mdc-paginator-page-size-value {
  font-size: 0;
}

.mat-mdc-paginator-page-size {
  display: none !important;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.input-error,
.error-msg {
  color: red;
  margin-top: 0.5em;
  font-size: 1.15em;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

input, textarea, select {
    border-color: #6568ab !important;
    border: 2px solid #6568ab !important;
}

input:focus, textarea:focus, select:focus {
    border-color: #6568ab !important;
    box-shadow: 0 0 5px #6568ab !important;
    outline: none !important;
}


#captchaDiv {
  margin-top: 1.5em;
}

#captchaDiv iframe {
  border: 2px solid #6568ab !important;
}

#captchaDiv div:first-child {
  display: block !important;
  margin: auto !important;
}

.swal2-html-container, .swal2-html-container ul {
  text-align: center !important;
}

@media (max-width: 720px) {
  .mat-mdc-paginator-outer-container {
    width:80% !important;
  }
  
}