footer {
    border-top: 2px solid rgb(151, 218, 52);
    margin-top: 3em;
}

footer h3 {
    font-weight: bold;
    font-size: 1.4em;
    color: rgb(27, 166, 27);
}

footer p {
    font-size: 1.1em;
}

.footer-brand {
    display: block;
    background-image: url('/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 120px;
    margin-bottom: 1em;
}

.menu-footer a {
    text-decoration: none !important;
    color: rgb(120, 175, 36) !important;
}

.menu-footer a:hover {
    color: rgb(134, 216, 10) !important;
}

.redes-footer {
    font-size: 2em;
}

.bi-facebook {
    color: #3b5998;
    transition: all 0.25s ease-in-out;
}

.bi-facebook:hover {
    color: #2d4373;
}

.bi-instagram {
    color: #c13584;
    transition: all 0.25s ease-in-out;
}

.bi-instagram:hover {
    color: #8a3d81;
}

.icono-ig, .icono-fb {
    transition: all 0.25s ease-in-out;
}

.icono-ig:hover, .icono-fb:hover {
    transform: scale(1.2);
}

