<footer class="footer p-5 container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12">
                <a id="logo-footer" class="d-block m-auto footer-brand" routerLink="/" (click)="scrollToTop()"><span class="d-none">Logo</span></a>
                <p class="text-center mt-3">¡Veni a visitarnos!</p>
            </div>
             <div class="col-lg-4 col-12 text-center">
                <h3>Menú</h3>
                <ul class="list-unstyled">
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/noticias">Noticias</a></li>
                    <li><a routerLink="/reclamos">Reclamos</a></li>
                    <li><a routerLink="/eventos">Eventos</a></li>
                </ul>
            </div>
             <div class="col-lg-4 col-12 text-center">
                <h3>Redes</h3>
                <ul class="list-unstyled">
                    <li><a>Facebook</a></li>
                    <li><a>Instagram</a></li>
                </ul>
            </div>
        </div>
</footer>