<footer class="footer p-5 container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12">
                <a id="logo-footer" class="d-block m-auto footer-brand" routerLink="/" (click)="scrollToTop()"><span class="visually-hidden">Logo</span></a>
                <p class="text-center mt-3">¡Veni a visitarnos!</p>
            </div>
             <div class="col-lg-4 col-12 text-center">
                <h3>Menú</h3>
                <ul class="list-unstyled menu-footer">
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/noticias">Noticias</a></li>
                    <li><a routerLink="/reclamos">Reclamos</a></li>
                    <li><a routerLink="/eventos">Eventos</a></li>
                </ul>
            </div>
             <div class="col-lg-4 col-12 text-center">
                <h3>Redes</h3>
                <ul class="list-unstyled d-flex justify-content-center redes-footer gap-4">
                    <li class="icono-ig"><a href="https://www.facebook.com/Comunidadpgb/" target="_blank" noopener noreferrer><i class="bi bi-facebook"><span class="visually-hidden">Facebook</span></i></a></li>
                    <li class="icono-fb"><a href="https://www.instagram.com/comunidadpgb/?hl=es" target="_blank" noopener noreferrer><i class="bi bi-instagram"><span class="visually-hidden">Instagram</span></i></a></li>
                </ul>
            </div>
        </div>
</footer>