

.input-form-login {
    width: 50% !important;
    margin: auto;
    border: 1px solid transparent !important;
    background-color: rgb(219, 221, 226);
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid transparent;
}

.input-form-login:focus {
    border: 1px solid green !important;
    border-radius: 10px;
    box-shadow: none !important;
}

.btn-send-form {
    transition: all 0.2s ease-in-out;
    margin-top: 3em;
}

.btn-send-form:hover {
    background-color: rgb(6, 93, 6);
}

.input-error {
  margin: 1em auto;
  width: 50%;
  text-align: left;
}

@media screen and (max-width: 992px) {
    .input-form-login {
        width: 80% !important;
    }
    
}