<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-5">
        <label class="d-none form-label" for="username">Usuario<span class="required-input">*</span></label>
        <input placeholder="Usuario *" class="input-form-login form-control" id="username" type="text" formControlName="username">
        @if(username?.touched && username?.errors?.['required']) {
        <p class="input-error">El usuario es requerido</p>
        }
    </div>

    <div class="">
        <label class="d-none form-label" for="password">Contraseña<span class="required-input">*</span></label>
        <input placeholder="Contraseña *" class="input-form-login form-control" id="password" type="password" formControlName="password">
        @if(password?.touched && password?.errors?.['required']) {
        <p class="input-error">La contraseña es requerida</p>
        }
    </div>

    <div class="mt-5">

        <button class="btn-send-form" type="submit">Ingresar</button>
    </div>
</form>