

.input-form-login {
    width: 50% !important;
    margin: auto;
}

.input-error {
  margin: 1em auto;
  width: 50%;
  text-align: left;
}

@media screen and (max-width: 992px) {
    .input-form-login {
        width: 80% !important;
    }
    
}